@{
    ViewBag.Title = "Minesweeper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function updateBoard() {
        $('#board').load('@Url.Action("getBoard", "Minesweeper")');
    }
    $(document).ready(function () {
        updateBoard();

        document.oncontextmenu = function () {
            return false;
        };
    })
    function rightClick() {
        $.post('@Url.Action("RightClick", "Minesweeper")', { col: arguments[0], row: arguments[1] });
        updateBoard();
    }
</script>

<div id="board" align="center"></div>