@{
    ViewBag.Title = "Minesweeper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function updateBoard() {
        $('#board').load('@Url.Action("getBoard", "Minesweeper")');
    }
    $(document).ready(function () {
        updateBoard();

        document.oncontextmenu = function () {
            return false;
        };
    })
    function rightClick() {
        $.post('@Url.Action("RightClick", "Minesweeper")', { col: arguments[0], row: arguments[1] });
        updateBoard();
    }
</script>

@using (Html.BeginForm("save", "Minesweeper", FormMethod.Post))
{
    <Button type="submit" value="Save" onsubmit="updateBoard">Save</Button>
}
@using (Html.BeginForm("load", "Minesweeper", FormMethod.Post))
{
    <Button type="submit" value="Load" onsubmit="updateBoard">Load</Button>
}

<div id="board" align="center"></div>