@{
    ViewBag.Title = "Minesweeper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function updateBoard() {
        $('#board').load("getBoard");
    }
    $(document).ready(function () {
        $('#board').load("getBoard");
    })
</script>

<div id="board" align="center"></div>